<ul>
    <% folders.forEach(function(folder) { %>
        <li class="folder">
            <%= folder.FolderName %> <form method="POST" action="/folders/delete"><button type="submit" name="folderID" value="<%= folder.FolderID %>">Delete</button></form>
                <form action="/folders/create" method="POST" enctype="application/x-www-form-urlencoded">
                    <input style="display: none" type="text" id="parentID" name="parentID" value="<%= folder.FolderID %>" />
                    <input type="text" id="folderName" name="folderName" placeholder="Subfolder name">
                    <input type="submit" value="Send" placeholder="Submit">
                </form>
                <% let f = [] %>
                <% files.forEach(function(file) { %>
                    <% if (file.FolderID == folder.FolderID) { %>
                        <% f.push(file) %>
                    <% } %>
                <% }); %>
                    
                <%- include('files', { files: f }) %>

                <form action="/files/create" method="POST" enctype="multipart/form-data">
                    <input style="display: none" type="text" id="folderID" name="folderID" value="<%= folder.FolderID %>" />
                    <input type="file" id="file" name="file" value="">
                    <input type="submit" value="Upload a file">
                </form>                

                <% if (folder.Subfolders && folder.Subfolders.length > 0) { %>
                    <%- include('folders', { folders: folder.Subfolders }) %>
                <% } %>
        </li>
    <% }); %>
</ul>
