<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File hub</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
    <main>
        <div class="login">
            <a href="/admin">Admin</a>
        </div>
<!-- messages space start -->
        <% if (locals.successMessage){ %>
            <div class="message success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p><%= successMessage %></p>
            </div>
        <% } %>

        <% if (locals.infoMessage){ %>
            <div class="message info">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p><%= infoMessage %></p>
            </div>
        <% } %>

        <% if (locals.warningMessage){ %>
            <div class="message warning">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p><%= warningMessage %></p>
            </div>
        <% } %>

        <% if (locals.errorMessage){ %>
            <div class="message error">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p><%= errorMessage %></p>
            </div>
        <% } %>
<!-- messages space end -->

        <h1>File hub</h1>
        <h3>Saved files:</h3>
        <ul>
            <% for (let file of files) { %>
                <li>
                    <%= file %>
                    <a href="/files/<%= file %>" target="_blank">View</a>
                    <a href="/delete/<%= file %>">Delete</a>
                </li>
            <% } %>
        </ul>

        <h3>Upload a file</h3>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="file" id="file" name="file">
            <input type="submit" value="Upload">
        </form>

        <h3>Create a folder</h3>
        <form action="/" method="POST">
            <input type="text" id="folderName" name="folderName">
            <input type="submit" value="Send" placeholder="Folder name">
        </form>
    </main>
</body>
</html>